/* Full page styles */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Header Styles */

header {
    text-align: center;
    background-color: burlywood;
    padding: 25px 0;
    margin-top: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 4rem;
}

header p {
    font-size: 1.3rem;
    width: 65%;
    margin: 0 auto;
    color: darkslategray;
}

/* Form Styles */

.wrapper {
    background-image: url(img/people-working.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
}

.form {
    width: 65%;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0 auto;
    padding: 2rem 3rem;
    border-radius: 2%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.form-element {
    width: 100%;
    height: 3em;
    border-radius: 2%;
    margin-top: 10px;
}

.more-info {
    height: 200px;
}

.form-parent {
    margin-top: 35px;
}

.form-element-title {
    font-size: 1.6rem;
    font-weight: bold;
}

#submit {
    text-align: center;
    width: 100%;
    height: 75px;
    margin-top: 100px;
    border-radius: 4%;
}

#submit:hover {
    background-color: burlywood;
}

#submit:active {
    background-color: green;
}